<%= yield(:title) %>

<h1>Yogesh</h1>
<p> Yogeshi began his professional life as an editor working for some of the top firms in India and Malaysia and Ireland.
<br>During this time, he developed a passion for photography, using his editor expertise to frame stunning images of landscape and wildlife.
<br>For about two years now, Yogeshi has been an amateur photographer working on projects both in around the world. 
<p><img src="assets/dublin1.jpg" alt="Dublin"></>

