<% provide(:title, "Categories") %>

<h2>Wildlife</h2>
  <div class="container">
      <img src="assets/wildlife10.jpg" alt="Animal1" style="width:100%;">
  <div class="text-block">
  </div>
</div>

<h1>Dublin</h1>

 <div class="container">
    <img src="assets/dublin10.jpg" alt="Dublin10" style="width:100%;">
<div class="text-block">
 </div>
</div>
  
<h1>Landscape</h1>

 <div class="container">
    <img src="assets/landscape1.jpg" alt="Landscape1" style="width:100%;">
 <div class="text-block">
 </div>
</div>
  
<h1>People</h1>

 <div class="container">
  <img src="assets/people11.jpg" alt="People11" style="width:100%;">
 <div class="text-block">
  </div>
</div>