<% provide(:title, "Gallery") %>

<h1>Yogesh</h1>

<div class="row">
  <div class="column">
    <img src="assets/wildlife1.jpg" alt="Animal1" style=width="400" height="400">
  </div>

  <div class="column">
    <img src="assets/wildlife2.jpg" alt="Animal2" style=width="600" height="400">
  </div>
  
  <div class="column">
    <img src="assets/wildlife5.jpg" alt="Animal3" style=width="600" height="400">
  </div>
</div>


<div class="row">
  <div class="column">
    <img src="assets/dublin1.jpg" alt="Dublin1" style=width="600" height="400">
  </div>
  
  <div class="column">
    <img src="assets/dublin2.jpg" alt="Dublin2" style=width="600" height="400">
  </div>
  
  <div class="column">
    <img src="assets/dublin8.jpg" alt="Dublin8" style=width="600" height="400">
  </div>
</div>


<div class="row">
  <div class="column">
    <img src="assets/landscape4.jpg" alt="Landscape4" style=width="600" height="400">
  </div>
  
  <div class="column">
    <img src="assets/landscape2.jpg" alt="Landscape2" style=width="600" height="400">
  </div>
  
  <div class="column">
    <img src="assets/landscape3.jpg" alt="Landscape3" style=width="600" height="400">
  </div>
</div>


<div class="row">
  <div class="column">
    <img src="assets/people3.jpg" alt="People1" style=width="600" height="400">
  </div>
  
  <div class="column">
    <img src="assets/people4.jpg" alt="People2" style=width="600" height="400">
  </div>
  
  <div class="column">
    <img src="assets/people5.jpg" alt="People3" style=width="600" height="400">
  </div>
</div>
